{{!-- This is the original header --}}
<header class="header">
    <h1 class="bat-title">Book-A-Tutor
        <button class="navbar-brand btnLogout" style="float:right; margin: 20PX;">Logout</button>
    </h1>
    <p class="byline">book your own private tutor | subject-specific online tutoring | search and book online</p>
    <hr>
</header>

<div class="container">
    <div id='calendarDiv'></div>
</div>

<!-- Make a BOOKING Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Make a Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
            <label for="exampleFormControlSelectSubjects">Select Subject</label>
            <select class="form-control" id="bookingSubject-input">
            <option value="" disabled selected hidden>Please choose...</option>
            {{#each subjects}}
                <option value="{{this.id}}"> {{this.name}}</option>
            {{/each}}
            </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tutor</label>
                <select class="form-control" id="bookingTutor-input">
                </select>
            </div>
            <div class="form-group">
                <label for="bookingStartTime">Start Time</label>
                <input type="datetime-local" id="bookingStartTime-input" name="bookingStartTime">
            </div>
            <div class="form-group">
                <label for="bookingEndTime">End Time</label>
                <input type="datetime-local" id="bookingEndTime-input" name="bookingEndTime">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Link to your online tutoring sessions with {{firstName}}{{lastName}}</label>
                <textarea class="form-control" id="videoLink-input" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Notes:</label>
                <textarea class="form-control" id="bookingNotes-input" rows="3"></textarea>
            </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="bookingSaveBtn">Save changes</button>
    </div>
</div>

{{!-- functionality for the booking modal --}}
<script type="text/javascript">
    $("#bookingSubject-input").on("change", function (event) {
        event.preventDefault();

        let subjectId = $(this).val();

        // clear the tutor select
        $('#bookingTutor-input').empty();

        // Send the GET request to get the tutors who tutor this subject
        $.ajax('/api/subjecttutors/' + subjectId, {
            type: "GET",
            success: function (response) {

                // fill the tutor select with the subject's tutors
                $.each(response, function (i, item) {
                    $('#bookingTutor-input').append($('<option>', {
                        value: item.User.id,
                        text: `${item.User.firstName} ${item.User.lastName}`
                    }));
                });
            }
        });
    });

    $("#bookingSaveBtn").on("click", function (event) {
        event.preventDefault();

        // get the details and save the booking
        const bookingData = {
            StudentId: sessionStorage.getItem('userId'),
            TutorId: $('#bookingTutor-input').val(),
            SubjectId: $('#bookingSubject-input').val(),
            // startTime: start.toISOString().slice(0, 19).replace('T', ' '),
            startTime: $('#bookingStartTime-input').val(),//.slice(0, 19).replace('T', ' '),
            endTime: $('#bookingEndTime-input').val(),//.slice(0, 19).replace('T', ' '),
            notes: $('#bookingNotes-input').val().trim()
        };

        $.post('/api/booking', bookingData)
            .then(() => {
                // go back to the members page
                window.location.replace('/members');
                // If there's an error, log the error
            })
            .fail((err) => {
                console.log(err);
            });

    });

</script>