<header class="header">
    <h1 class="h1">BOOK A TUTOR
        <button class="navbar-brand" href="./layouts/main.handlebars" style="float:right; margin: 20PX;">Logout</button>
    </h1>
    <p class="head-p">book your own private tutor | subject-specific online tutoring | search and book online</p>
    <hr>
</header>
{{!-- the calander --}}
<div class="col-sm-6" style="float:left">
    <div class="left-side-card">
        <div id='calendarDiv'></div>
    </div>
</div>