{{!-- the first page --}}
<header class="header">
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="./signup.handlebars">Signup</a>
    {{!-- will add the Contact page --}}
    <a href="#contact">Contact</a>
    <div class="login-container">
      <form class="login">
        <button class="login-container" type="submit">Login</button>
        <input type="password" class="login-container" placeholder="Password" name="psw" id="password-input">
        <input type="email" class="login-container" placeholder="Enter email" name="email" id="email-input"
          aria-describedby="emailHelp">
      </form>
    </div>
  </div>
</header>

<div class="col-md-12">
  <div class="center-card">
    <div class="head-card">
      <h1 class="h1">BOOK A TUTOR</h1>
      <p class="head-p">book your own private tutor | subject-specific online tutoring | search and book online</p>
      <hr>
    </div>
    <p1>The academic segment of the e-learning market is expected to be valued at over $157.7 billion globally by 2025.
      This growing popularity can be attributed to the various benefits of e-learning for learners as well as educators.
      Students can learn at their own pace, and educators can adapt their teaching methods to the learning styles of
      students. That’s a win-win for everyone!
      If you have a tutoring business, prepare to take it online if you haven’t already!</p1>
    <br>
    <br>
    <p2> This app allows tutor to provide a blended and flexible learning experience to their students.
      also students can have the access to their courses timetable.
      By signing up for free you can have an access as a tutor or student and be updated.
    </p2>
  </div>
</div>
{{!-- end of first page --}}

<!-- Make a LOGIN Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="loginModal">
          <div class="form-group">
            <label for="exampleInputName1">Email</label>
            <input type="text" class="form-control" id="email-input" placeholder="Email Address" />
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Password</label>
            <input type="text" class="form-control" id="password-input" placeholder="Password" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select User</label>
            <select required class="form-control" id="user-type">
              <select required class="form-control" id="userType-input">
                <option value="" disabled selected hidden>Please choose...</option>
                <option>Student</option>
                <option>Tutor</option>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- SIGNUP Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Signup to Book A Tutor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="signupModal">
          <div class="form-group">
            <label for="exampleInputName1">First Name</label>
            <input type="text" class="form-control" id="firstname-input" placeholder="First Name" />
          </div>
          <div class="form-group">
            <label for="exampleInputSurname1">Last Name</label>
            <input type="text" class="form-control" id="lastname-input" placeholder="Last Name" />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email" />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select User Type</label>
            <select required class="form-control" id="user-input">
              <option value="" disabled selected hidden>Please choose...</option>
              <option>Student</option>
              <option>Tutor</option>
            </select>
          </div>
          <div style="display: none;" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Signup</button>
      </div>
    </div>
  </div>
</div>