<header class="header">
        <h1 class= "h1">BOOK A TUTOR</h1>
        <p class="head-p">book your own privet tutor | in-home or online | search and book online</p>
        <hr>
    </header>
<div class="col-sm-6" style="float: right;">
<div class="right-side-card">
        <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Subjest</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Tutor</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Year</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Time</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Topic</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>           
  </div>
</div>
<div class="col-sm-6" style="float:left">
  <div class="left-side-card">
  <div id='calendar'></div>
  </div>
</div>
